@import "../../../../config/style.config.scss";

.input{
    width: 50%;

    font-size: $font-size-small;
    padding: 10px 5px;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;

    text-align: center;
    border: 2px solid rgba(1,1,1,0);
}

.input:focus{
    border: 2px solid $netflix-red;
}