@import "../../../../config/style.config.scss";

.main_menu_button{
    width: 100%;
    font-size: $font-size-small;
    padding: 1.2em 1em;
    margin: 0.5em 0;

    outline: none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    background-color: $netflix-gray;
    color: $netflix-white;

    transition-duration: 500ms;
}
.main_menu_button:hover{
    background-color: $netflix-red;
}
.main_menu_button:active{
    background-color: $netflix-dark-red;
    filter: brightness(0.7);
}

.main_menu_button[primary]{
    background-color: black;
}